body
{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Tahoma,Verdana;
}
.Main
{
	width: 640px;
	margin: 100px auto 0 auto;
    border:1px solid #ffffff;
    border-radius:4px;
    box-shadow:0px 5px 5px #e2dfff;
    height:360px;
    background:#ffffff
}
.Main .left 
{ 
    width:350px; 
    float:left; 
    display:inline-block; 
}
.Main .right{
height:360px;
width:280px;
float:right;
background:url(../images/right_bg.jpg) no-repeat;

}
.Main .right .title{
height:65px;width:250px;
}

