<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net>
        <!--调试日志-->
        <appender name="debugLog" type="log4net.Appender.RollingFileAppender,log4net" >
            <param name="File" value="logs\debug.log" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Date" />
            <param name="DatePattern" value="yyyyMMdd" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}%newline%message%n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
            </filter>
        </appender>
        <!--信息日志-->
        <appender name="infoLog" type="log4net.Appender.RollingFileAppender,log4net" >
            <param name="File" value="logs\info.log" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Date" />
            <param name="DatePattern" value="yyyyMMdd" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="INFO" />
                <param name="LevelMax" value="INFO" />
            </filter>
        </appender>
        <!--错误日志-->
        <appender name="errorLog" type="log4net.Appender.RollingFileAppender,log4net" >
            <param name="File" value="logs\error.log" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Date" />
            <param name="DatePattern" value="yyyyMMdd" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}%newline%message%n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="ERROR" />
                <param name="LevelMax" value="ERROR" />
            </filter>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="debugLog" />
            <appender-ref ref="infoLog"/>
            <appender-ref ref="errorLog" />
        </root>
    </log4net>

    <appSettings>
        <!-- 市场机会 冲突协调 所在步骤 -->
        <add key="WorkflowConflictCoordinationStep" value="8" />
		<add key="WorkflowLogNodeDisplayText" value="集团市场部" />
        <!-- 市场机会 分公司领导审批同意 所在步骤 -->
        <add key="WorkflowCorpLeaderStep" value="2" />
        <!-- 封标审批 第一次通知时间，单位（天） -->
        <add key="TenderFirstNotificationDays" value="3" />
        <!-- 封标审批 第一次通知后每次间隔时间，单位（天） -->
        <add key="TenderFollowNotificationDays" value="1" />
        <!--<add key="myWebservice.Service1" value="http://192.168.1.105:8080/Service1.asmx"/>-->
    </appSettings>
    
    <connectionStrings>
        <add providerName="System.Data.SqlClient" name="MSSQLServer" connectionString="Data Source=10.128.3.129;Initial Catalog=Knowledge;Persist Security Info=True;User ID=sa;Password=QWEasd789;Pooling=False" />
        <add providerName="Oracle.ManagedDataAccess.Client" name="OaUserOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.0.60)(PORT = 1521)))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User ID=hrselect;Password=hrselect" />
        <!--<add providerName="System.Data.SqlClient" name="MSSQLServer" connectionString="Data Source=10.10.0.17;Initial Catalog=CnqcMarketManagement;Persist Security Info=True;User ID=sa;Password=sql123!;Pooling=False" />-->
		
		<!-- 用连接字符串节点来判断是否为测试模式，在测试模式下将关闭很多功能 -->
		<add providerName="System.Data.SqlClient" name="TestMode" connectionString="1" />
    </connectionStrings>
    <system.web>
        <!--<pages validateRequest="false" />-->
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0" maxRequestLength="11264" executionTimeout="9000" />
        <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />-->
        <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=10.10.0.17;Initial Catalog=CnqcSessionStateServer;Persist Security Info=True;User ID=sa;Password=sql123!;Pooling=False" />-->
        <!--<sessionState mode="StateServer" timeout="120"></sessionState>-->
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <add name="PacteraPermission" type="Pactera.Core.PacteraHttpModule" />
        </modules>
		<handlers>
			<add name="EngineApi" verb="*" path="Engine/Start" type="Pactera.Core.WF.ProcessHttpRequest, Pactera.Core" />
		</handlers>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HrmServiceHttpBinding" />
                <binding name="GenericSoapBinding" maxReceivedMessageSize="2147483647" />
                <binding name="TOIServiceSoapBinding" />
                <binding name="BidProServiceSoapBinding" />
                <binding name="TODOServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.guotsingoa.com//services/HrmService"
                binding="basicHttpBinding" bindingConfiguration="HrmServiceHttpBinding"
                contract="CnqcOaHrmService.HrmServicePortType" name="HrmServiceHttpPort" />
            <endpoint address="http://guotsingoa.com:9090/webservice6/services/Generic"
                binding="basicHttpBinding" bindingConfiguration="GenericSoapBinding"
                contract="CnqcOcsGenericImplService.GenericImpl" name="Generic" />
            <endpoint address="http://10.10.0.251:8080/services/TOIService"
                binding="basicHttpBinding" bindingConfiguration="TOIServiceSoapBinding"
                contract="TOIService.TOIService" name="TOIService" />
            <endpoint address="http://10.10.0.251:8080/services/BidProService"
                binding="basicHttpBinding" bindingConfiguration="BidProServiceSoapBinding"
                contract="BIDService.BidProService" name="BidProService" />
            <endpoint address="http://10.20.0.26:8080/services/TODOService"
                binding="basicHttpBinding" bindingConfiguration="TODOServiceSoapBinding"
                contract="TODOService.TODOService" name="TODOService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>