/*正常时*/
.Wdate{
	border:#d9d9d9 1px solid;
    border-radius:3px 3px 3px 3px;
	height:17px;
	background:#fff url(datePicker.gif) no-repeat right;
    font-size:12px; padding-left:4px; padding-top:2px;
}
/*只读时*/
.WdateGary{
	border:#d9d9d9 1px solid;
    border-radius:3px 3px 3px 3px;
	height:17px;
    font-size:12px; padding-left:4px; padding-top:2px;color:gray;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}
